@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

html {
   scroll-behavior: smooth;
}

.card {
   backdrop-filter: blur(2px) saturate(179%);
   -webkit-backdrop-filter: blur(2px) saturate(180%);
   background-color: rgba(255, 255, 255, 0.1);
   border-radius: 12px;
}

.HERO-LIGHT {
   background-image: url("../image/light-bg.webp");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
}

.HERO-DARK {
   background-image: url("../image/dark-bg.webp");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
}

.ACTIVE-DESKTOP::after {
   content: "";
   height: 5px;
   width: 50%;
   background-color: #415a80;
   position: absolute;
   bottom: -10px;
   left: 0;
   right: 0;
   margin: auto;
   border-radius: 50px;
}

.ACTIVE-MOBILE::after {
   content: "";
   height: 25%;
   width: 25%;
   background-color: #415a80;
   position: absolute;
   bottom: -10px;
   left: 0;
   right: 0;
   margin: auto;
   border-radius: 50px;
}

.ACTIVE-MOBILE a svg {
   fill: #415a80;
}

.LIGHT-ICON a svg {
   fill: #1b1c22;
}

.DARK-ICON a svg {
   fill: white;
}
